body {
  margin: 7px;
  background-color: #b1cd90;
  height: 100vh;
}

/* App */
.app-jsx {
  background-color: #fff8eb;
  border-radius: 5px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}
